:root {
/*   --bg-color: #fff9d096; */
  --bg-color: rgba(255, 249, 208, 0.59);
}

body {
  background-color: var(--bg-color);
  color: #231f20;
  font-family: 'Montserrat', serif;
}

body.brow-lami {
  background-color: #a0af6c;
}

.container {
  max-width: 549px;
}

ul.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}

ul.leaders li.dots:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ';
}

ul.leaders .name {
  padding-right: 0.33em;
  background: var(--bg-color);
}

ul.leaders .price {
  float: right;
  padding-left: 0.33em;
  background: var(--bg-color);
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.top-space {
  padding-top: 4px;
}

.bottom-space {
  padding-bottom: 27px;
}

p.bottom-space {
  padding-bottom: 8px;
}

.top-padding {
  padding: 0;
  margin: 0;
  padding-top: 8px
}

.no-top-space {
  padding-top: 0;
  margin-top: 0;
}

.no-bottom-space {
  padding-bottom: 0;
  margin-bottom: 0;
}

.negative-bottom-space {
  margin-bottom: -8px;
}

.discount-image {
  padding-right: 27px;
  padding-bottom: 9px;
  width: 209px;
}

ol.hide-numbers {
  list-style-type: none;
  padding-left: 20px;
}

a {
  color: gray;
}

.mini-menu .active {
  color: #4b4b4b;
}

ul.leaders {
  max-width: auto;
}

ul.leaders .name,
ul.leaders .price{
  background-color: transparent;
}

.dots {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.dots:before {
  display: none;
}

.dots > span {
  border-bottom: 2px solid #ddd;
  padding: 10px 5px 10px 0;
}

.bi {
  color: #999;
}

.semi-bold {
  font-weight: 600;
}

ul.leaders ~ ul.leaders {
  margin-bottom: 24px
}
